/* GLOBAL STYLES
-------------------------------------------------- */
/* Svg Blob */
.svg-blob-fill-current {
  --layer1: currentColor; }

.svg-blob {
  position: absolute;
  fill: currentColor; }

svg {
  overflow: hidden;
  vertical-align: middle; }

/* Padding below the footer and lighter body text */
body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
  text-align: center; }

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
.h-100 {
  height: 100% !important; }

.img-fluid {
  max-width: auto;
  max-height: 500px; }

.carousel {
  margin-top: 4rem; }

/* Since positioning the image, we need to help out the caption */
.flavor-title {
  font-family: 'Poppins', sans-serif;
  font-size: 4rem;
  font-weight: 400;
  text-align: left;
  margin-top: 10rem; }

.flavor-subtitle {
  font-family: 'Poppins', sans-serif;
  font-size: 3.5rem;
  font-weight: 400;
  text-align: left;
  margin-top: 10rem; }

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem; }

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem; }

/* MARKETING CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
/* Album
------------------------- */
.album {
  background-color: #DFD500 !important; }

/* Featurettes
------------------------- */
/* Thin out the marketing headings */
.featurette-heading {
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  line-height: 1;
  letter-spacing: -.05rem; }

.lead {
  margin-bottom: 2rem; }

.btn-primary {
  font-family: 'Poppins', sans-serif;
  color: #5a5a5a;
  background-color: #fff;
  border-color: #7B6646;
  height: 50px;
  align-items: center;
  display: inline-flex;
  font-size: 2rem;
  font-weight: bold;
  padding: 30px; }

.btn-primary:hover {
  color: #fff;
  background-color: #5a5a5a;
  border-color: #7B6646; }

/* Modal
-------------------------------------------------- */
.modal h1 {
  padding-top: 20px;
  color: #7B6646;
  text-align: center; }

.btn-modal {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  background-color: #DFD500;
  border-color: #7B6646;
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0 auto;
  display: block; }

#button {
  margin-bottom: 20px;
  margin-top: 20px; }

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4; } }
